@model Project.Models.Register

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>Welcome to User Registration</h2>

<div class="button-container">
    <a href="@Url.Action("UserRegister", "Register")" class="login-button">User Registration</a>
    </div>

